@model Ninja

<h1>Ninja bewerken</h1>

<form asp-action="Edit" method="POST">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label class="form-label" asp-for="@Model.Gold">Ninja:</label>
        <input class="form-control" type="text" asp-for="@Model.Name"/>
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="@Model.Gold"></label>
        <input class="form-control" type="number" asp-for="@Model.Gold"/>
        <span class="text-danger" asp-validation-for="@Model.Gold"></span>
    </div>
    
    <hr />
    
    @* TODO: Calculate these values *@
    <p>Total strength: 0</p>
    <p>Total agility: 0</p>
    <p>Total intelligence: 0</p>
    
    <hr />
    
    <p>Gear value: 0</p>
    
    <div class="row">
        <div class="col">

        </div>
        
        <div class="col">

        </div>
        
        <div class="col">

        </div>
    </div>
    
    <button class="btn btn-primary">Opslaan</button>
    <a class="btn btn-secondary" asp-action="Index">Annuleren</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Verwijderen</a>
</form>