@model List<Equipment>;
@{
    ViewData["Title"] = "Equipment overzicht";
}

<div class="d-flex justify-content-between">
    <h1 class="mb-3">Equipment</h1>

    <span>
        <a class="btn btn-primary rounded-pill" asp-action="Create">
            <i class="fa fa-solid fa-plus"></i>
        </a>
    </span>
</div>

@if (Model.Count == 0)
{
    <p class="text-muted">Er is nog geen equipment.</p>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gap-3">
        @foreach (var equipment in Model)
        {
            <a class="col text-decoration-none text-black" asp-action="Edit" asp-route-id="@equipment.Id">
                <div class="card">
                    <div class="card-header">
                        <h3>@equipment.EquipmentType.Name : @equipment.Name</h3>
                    </div>

                    <div class="card-body">
                        <ul>
                            <li>Strength : @equipment.Strength</li>
                            <li>Agility : @equipment.Agility</li>
                            <li>Intelligence : @equipment.Intelligence</li>
                            <li>Value : @equipment.Value Gold</li>
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
}
